.images{
    width:10em;
    height:10em;
    overflow: hidden;
    display:inline-block;
    margin:1em 1em;
    background: #FFFFFF;
    box-shadow: 2px 2px 30px -1px #9B9B9B;
    cursor: pointer;
}
.images:hover{
    box-shadow: none;
    border:solid;
    color:black;
}
img{
    width:120%;
}
.navbar{
    position: fixed;
    background-color: #da6d40;
    color:white;
    width:100%;
    top:0;
    text-align: center;
    padding-left: 35vw;
}
.margin-top{
    margin-top:8em;
}