.images{
    width:15em;
    height:15em;
    overflow: hidden;
    display:inline-block;
    margin:2em 2em;
    background: #FFFFFF;
    box-shadow: 2px 2px 30px -1px #9B9B9B;
    cursor: pointer;
}
.images:hover{
    box-shadow: none;
    border:solid;
    color:black;
}
img{
    width:120%;
}